<!DOCTYPE html>
<html>
    <head>
      <!-- Mobile Specific Meta -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicon-->
      <link rel="shortcut icon" href="{{asset('/img/bookLogo.png')}}">
      <!-- IE-Compatible -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Author Meta -->
      <meta name="author" content="Gabriel Borges">
      <!-- Meta Description -->
      <meta name="description" content="A simplified book application made in order to get some practice with development">
      <!-- Meta Keyword -->
      <meta name="keywords" content="Api Rest">
      <!-- meta character set -->
      <meta charset="UTF-8">
      <!-- Site Title -->
      <title>BOOKS APP - Admin Dashboard</title>

      <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}"></script>

      {% block stylesheets %}
      <!-- Bootstrap core CSS-->
      <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

      <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

      <!-- Custom fonts for this template-->
      <link rel="stylesheet" href="{{asset('/vendor/fontawesome-free-5.6.3-web/css/all.css') }}" />

      <!-- Page level plugin CSS-->
      <link href=" {{ asset('vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

      <!-- Custom styles for this template-->
      <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
      {% endblock %}

    </head>
    <body class="page-top">
      {% block body %}{% endblock %}

      {% block javascripts %}
      <!-- Bootstrap core JavaScript-->
      <script src="{{ asset('js/vendor/bootstrap.bundle.min.js') }}"></script>


      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="{{ asset('js/sb-admin.min.js') }}"></script>

      <script type="text/javascript">
        $(document).ready(function() {

          var table = $('#tabela').DataTable();
          var id;

          $('#tabela tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {


              $(this).removeClass('selected');
              $('#bremove').addClass('disabled');
              $('#bedit').addClass('disabled');
            }
            else {
              table.$('tr.selected').removeClass('selected');
              $(this).addClass('selected');

              id = table.$('tr.selected').attr('id');
              console.log(id);

              $('#bremove').removeClass('disabled');
              $('#bedit').removeClass('disabled');
            }
          });

          $('#bremove').click( function () {
            var name = $(this).attr('name');
            var url;

            if(name == "books"){
              url = "/api/book/books/" + id;

            } else if (name == "publishers") {
              url = "/api/publisher/publishers/" + id;

            } else{
              url = "/api/author/authors/" + id;
            }

            $.ajax({
                  url : url,
                  type : 'delete',
                  success: function (){
                    table.row('.selected').remove().draw( false );
                  },
             })
             .done(function(msg){
                  console.log('done');
             })
             .fail(function(jqXHR, textStatus, msg){
                  console.log(msg);
             });
           });

          $('#bedit').click( function () {
            table.row('.selected').edit().draw( false );
          });

        });
      </script>

      {% endblock %}

    </body>
</html>
