{% extends 'base.html.twig' %}

{# Pagination Vars -------------------------------------------------------- #}
{% set pagesAround = 2 %}
{% set perPage = 9 %}
{% set maxPage = (books|length / perPage) |round(0, 'ceil') %}

{# Pagination Validation -------------------------------------------------- #}
{% if  maxPage == 0 %}
  {% set page = 0 %}
{% endif %}

{% if page > maxPage %}
  {% set page = 1 %}
{% endif %}

{% if page - pagesAround > 0 %}
  {% set first = page - pagesAround %}
{% else %}
  {% set first = 1 %}
{% endif %}

{% if page + pagesAround < maxPage %}
  {% set last = page + pagesAround %}
{% else %}
  {% set last = maxPage %}
{% endif %}

{% block body %}
  {% include '/Navbar/defaultNavbar.html.twig' %}
  <div class="main-wrapper">
    <div class="banner-area">
        <div class="container">
          <div class="row justify-content-center generic-height align-items-center">
            <div class="col-12 col-md-8">
              <div class="banner-content text-center">
                <span class="text-white top text-uppercase">Search for books</span>
                <h1 class="text-white text-uppercase">Search Page</h1>
              </div>
              <form action="{{ path('app_search') }}" method="get">
                <div class="mt-3 row justify-content-between">
                  <input type="text" name="search" placeholder="Search for" class="single-input col-md-10">
                  <div class="col-md-2 mt-3 mt-md-0 px-md-1 text-center">
                    <button type="submit" class="py-1 py-md-0 e-large genric-btn primary-border small" style="height:100%;border:#fff;">Go!</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Start Feature Area -->
    <section class="featured-area">
      <div class="container">

        <div class="row m-md-0 ">
          {% if page == 0 %}
            <p class="lead my-5 mx-auto">Sorry! There's no book in our system.</p>
          {% endif %}
          {% for book in books %}
          {% if loop.index >= (page * perPage - (perPage - 1)) and loop.index <= (page * perPage)  %}
            <div class="col-md-4 my-1">
              <div class=" card"  >
                <div class="card-body">
                  <h5 class="card-title">{{ loop.index  }} - {{ book.bookName }}</h5>
                  <p class="card-text">
                    <ul>
                      <li><span class="font-weight-bold">Written by:</span> {{ book.author}}</li>
                      <li><span class="font-weight-bold">Pages:</span> {{ book.pages }}</li>
                      <li><span class="font-weight-bold">Edition:</span> {{ book.edition }}</li>
                      <li><span class="font-weight-bold">Publisher:</span> {{ book.publisher }}</li>

                    </ul>
                  </p>
                  <a class="genric-btn small primary-border circle text-center" href="#">More Details</b></a>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="row mt-4">
          {% if page > 0 %}
            <nav class="col-12" aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                {% if (page - pagesAround) > 1 %}
                  <li class="page-primary page-item">
                    <a class="page-link" href="{{ path('app_search', {'page':page - 1}) }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% endif %}

                {% for i in first .. last %}
                  {% if i != page %}
                    <li class="page-primary page-item"><a class="page-link" href="{{ path('app_search', {'page':i}) }}">{{ i }}</a></li>
                  {% else %}
                    <li class="page-primary page-item active"><a class="page-link" href="{{ path('app_search', {'page':i}) }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if (page + pagesAround) < maxPage %}
                  <li class="page-primary page-item">
                    <a class="page-link" href="{{ path('app_search', {'page':page + 1}) }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>
    </section>
    <!-- End Feature Area -->

    {% include '/Footer/defaultFooter.html.twig' %}
  </div>
{% endblock %}
